
<div class="card">
   <div class="card-body">
      <h6 class="text-center">
         Formulário
      </h6>
      <app-form></app-form>
      <mat-accordion class="example-headers-align">
         <mat-expansion-panel  *ngFor="let form of formList">
            <mat-expansion-panel-header>
               <mat-panel-title>
                  {{form.nome}}
               </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-title>
               {{form.desc}}
            </mat-panel-title>
            <mat-panel-title>
               {{form.endereco}}
            </mat-panel-title>
            <mat-panel-title>
               {{form.numero}}
            </mat-panel-title>
            <mat-panel-title>
               {{form.complemento}}
            </mat-panel-title>
            <mat-panel-title>
               {{form.bairro}}
            </mat-panel-title>
            <mat-panel-title>
               {{form.cidade}}
            </mat-panel-title>
            <mat-panel-title>
               {{form.estado}}
            </mat-panel-title>
            <div id="container-fluid">
               <div class="row">
                  <div class="col-8">
                     <span class="float-left"></span>
                  </div>
                  <div class="col-2 text-center">
                     <button mat-button color="primary" (click)="onDelete(form.$key)">
                        <mat-icon>delete</mat-icon>
                        apagar
                     </button>
                  </div>
                  <div class="col-2">
                     <button mat-button color="primary" (click)="onEdit(form)">
                        <mat-icon>edit</mat-icon>
                        editar
                     </button>
                  </div>
               </div>
            </div>
         </mat-expansion-panel>
      </mat-accordion>
   </div>
</div>